
<h4>Block elements</h4>
    <p>Ala <b>ma kota i lubi</b> <strong>placki!</strong></p>

        <blockquote>Bob ma psa</blockquote>

        <h4>Inline elements</h4>

        <em>All is </em><abbr title="fumbled beyond and reason">Fubar</abbr>
        <cite><a href="#">Anonymous</a></cite>
        <span>Bardzo długi tekst który nie jest blokiem tylko bedzie sie zawijal</span>
        <style>
            span{
    outline: 1px solid red;
    width: 60px;
    height: 150px;
    display: inline-block;
    overflow: auto;
            }
        </style>