<h4>Block elements</h4>

<p>Ala ma <b>kota</b> i lubi <strong>placki z czekoladą</strong>!</p>
<blockquote>Bob ma psa</blockquote>
<p>Kate ma rybki</p>


<h4>Inline elements</h4>

<em>All is </em><abbr title="fumbled beyond any reason">Fubar</abbr>~
<cite><a href="#">Anonymous</a></cite>
<span>bardzo długi tekst który nie jest blokiem, ale jest liniowy, więc będzie się zawijał </span>


<style>
  span{
    outline: 1px solid red;
    width: 60px;
    height: 200px;
    /* display: inline-block; */
    display: block;
    /* overflow: auto; */
  }
</style>