@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400");

:root {
  --bg-color: #eee;
  --primary-color: rgba(202, 202, 202, 0.481);
}
html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.889rem;
}

/* ================================================================================
Layout */
main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  min-width: 200px;
}

.row {
  display: flex;
}

/* .row .col{
    flex: 1 1 100%;
   
} */
.main-content {
  flex-grow: 3;
}
.sidebar {
  text-align: center;
  flex-shrink: 1;
}

.image-left {
  float: left;
  margin: 0 1em 0 0;
}

.image-right {
  float: right;
  margin: 0 0 0 1em;
}

.clearfloat::after {
  display: table;
  content: "";
  clear: both;
}

article p {
  text-align: justify;
  hyphens: auto;
}

/* inline-blocks */
/* article{
    display: inline-block;
    width: 80%;
}

article + .sidebar {
    display: inline-block;
    width: calc(20% - 20px - 1ch);
    margin: 0 0 0 20px;
    vertical-align:top ;
} */

.sidebar ul {
  list-style: none;
}
/* ====================================================================
Logo section */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  margin: 0;
}

/* =====================================================================
Navigation */
.navbar {
  background-image: url(../images/tło.jfif);
  background-repeat: no-repeat;
  background-position: center;
}
.navbar ul {
  background-color: var(--primary-color);
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: start;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 2px;
}
.navbar > ul li.mainMenu-right {
  background-color: yellow;
  margin-left: auto !important;
}

.navbar ul.mainMenu a {
  text-decoration: none;
  text-align: center;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.navbar li {
  position: relative;
}
.navbar ul a:hover {
  background-color: rgb(105, 105, 105);
}
.navbar ul.mainMenu > li {
  border: 1px solid black;
  margin: 5px;
}

ul.submenu-1, ul.submenu-2 {  
  display: none;
}

.navbar ul.mainMenu:hover > ul.submenu-1 {
  display: block;
  position: absolute;
    top: 0;
    left: 0;
  
}
.navbar .submenu-1:hover > ul.submenu-2 {
  display: block;
  position: absolute;
  top: 0;
}

.navbar ul.mainMenu > li a {
  color: red;
  padding: 10px;
  align-items: center;
}



/* ==============================================================
print */


@media print {
  .navbar{
    display: none;
  }
  .sidebar {
    display: none;
  }
}